<form action= <%= user_url %> method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="user_name">Name</label>
  <input
    type="text"
    name="user[user_name]"
    id="user_name"
    value="<%= @user.user_name %>">

  <label for="password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password">

  <input type="submit" value="Submit">
  <br>
